{% extends 'aa_layout.html' %}


{% block left %}
{% for tag in tags %}
<p><a href="{{ url_for('tag_details', slug=tag.slug) }}">{{ tag.name }}</a></p>
{% endfor %}
{% endblock %}


{% block mid %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sorted by
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ url_for('home', previous_sort = previous_sort, top='top')}}">Top Rated</a>
    <a class="dropdown-item" href="{{ url_for('home', previous_sort = previous_sort, featured='featured')}}">Featured</a>
    <a class="dropdown-item" href="{{ url_for('home', previous_sort = previous_sort, low='low')}}">Low to High</a>
    <a class="dropdown-item" href="{{ url_for('home', previous_sort = previous_sort, high='high')}}">High to Low</a>
  </div>
</div>

    <!--option value="rated" selected>Top Rated</!--option>
    <option value="featured">Featured</option>
    <option value="low">Price: Low to High</option>
    <option-- value="high">Price: High to Low</option-->
{% for product in products %}
<div class="album py-3 bg-light">
  <div class="container">
    <div class="row row-cols-2">
      <div class="col">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="auto" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">IMG</text>
          </svg>
          <div class="card-body">
            <a href="{{ url_for('product_details', slug=product.slug) }}">
              <h4>{{ product.title }}</h4>
            </a>
            <p class="card-text">{{ product.discription }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--p><a href="{{ url_for('product_details', slug=product.slug) }}">{{ product.title }}</a></p-->
{% endfor %}
{% endblock %}


{% block content %}
{% endblock %}